/* VARIABLES */
/* -------------------------------------------------------------------------- */

:root {
  /* COLORS */
  --text-grey: rgba(255, 255, 255, 0.6);

  /* FONTS */
  --base-font: system-ui, sans-serif;
  --alt-font: 'Space Mono', monospace;

  /* FONT SIZES */
  --font-size-1: 56px;
  --font-size-2: 36px;
  --font-size-3: 32px;
  --font-size-4: 18px;
  --font-size-5: 18px;

  /* SPACING */
  --speaker-image-spacing: 2rem;
  --speakers-top-offset: -4rem;
}


/* BASE */
/* -------------------------------------------------------------------------- */

body {
  background: #1F1F1F;
  color: #fff;
  font-family: var(--base-font);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


/* TYPOGRAPHY */
/* -------------------------------------------------------------------------- */

a {
  color: white;
  text-decoration: none;
}

.external-link {
  padding-right: 1.5rem;
  position: relative;
}

.external-link:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  background-image: url('./images/external-link-arrow.svg');
  transition: all .3s ease-in-out;
}

.external-link:hover:after {
  top: -2px;
  right: -4px;
}

h1 {
  margin: 0;
  font-size: var(--font-size-3);
  line-height: 1;
}

h2 {
  margin: 0;
  font-size: var(--font-size-1);
  line-height: 1;
}

h3 {
  margin: 0;
  font-size: var(--font-size-2);
  line-height: 1.1;
}


/* LAYOUT */
/* -------------------------------------------------------------------------- */

.container {
  overflow: hidden;
}

.wrap {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 600px;
}


/* HEADER */
/* -------------------------------------------------------------------------- */

.header {
  padding: 10% 0 15%;
  position: relative;
}

.event-description {
  color: var(--text-grey);
  font-family: var(--alt-font);
  font-size: var(--font-size-4);
  margin-bottom: 2rem;
}

.peace {
  display: none;
  position: absolute;
  top: 10%;
  left: 64%;
}


/* NAVIGATION */
/* -------------------------------------------------------------------------- */

.nav-link-list:after {
  content: "";
  display: table;
  clear: both;
}

.nav-link-list__item {
  font-weight: bold;
  font-size: var(--font-size-4);
}

.nav-link-list__item + .nav-link-list__item {
  margin-left: 3rem;
}


/* EVENT */
/* -------------------------------------------------------------------------- */

.event {
  /* overflow: hidden; */
  padding-bottom: 12%;
}

.event:after {
  content: "";
  display: table;
  clear: both;
}

.event__header {
  background: linear-gradient(rgba(31, 31, 31, 0.5), rgba(31, 31, 31, 0));
}

.event:nth-child(even) .event__header {
  text-align: right;
}

.event__number {
  color: var(--text-grey);
  font-family: var(--alt-font);
  font-size: var(--font-size-5);
}

.event__date {
  margin-bottom: 1rem;
}

.event__details {
  font-family: var(--alt-font);
  font-size: var(--font-size-5);
  text-shadow: 0 0 20px rgba(31, 31, 31, .5);
}

.event__rsvp {
  font-size: var(--font-size-4);
  font-family: var(--base-font);
  font-weight: bold;
  padding-left: 4rem;
  position: relative;
}

.event__rsvp:before {
  content: "";
  display: block;
  height: 2px;
  width: calc(4rem - 12px);
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
}


/* SPEAKER */
/* -------------------------------------------------------------------------- */

.event__speakers {
  margin-top: var(--speakers-top-offset);
}

/* ODD */
.event:nth-child(odd) .speaker:nth-child(odd) {
  margin-left: var(--speaker-image-spacing);
}

.event:nth-child(odd) .speaker:nth-child(even) {
  margin-right: var(--speaker-image-spacing);
}

/* EVEN */
.event:nth-child(even) .speaker:nth-child(odd) {
  margin-right: var(--speaker-image-spacing);
}

.event:nth-child(even) .speaker:nth-child(even) {
  margin-left: var(--speaker-image-spacing);
}

.speaker + .speaker {
  margin-top: 2rem;
}

.speaker__figure {
  margin: 0;
  padding-bottom: 142%;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.speaker__image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.85;
  transition: .6s ease-out;
}

.speaker:hover .speaker__image {
  transform: scale(1.1);
}

.speaker__info {
  margin-top: -1.5rem;
}

.speaker__name {
  font-size: var(--font-size-3);
  line-height: 1;
  display: block;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 20px rgba(31, 31, 31, 0.7);
}

.speaker__description {
  font-family: var(--alt-font);
  color: var(--text-grey);
  display: block;
}

.speaker__language {
  display: inline-block;
  border: 1px solid var(--text-grey);
  border-radius: 20px;
  padding: 0.2em 0.7em;
  margin-top: 0.75rem;
  color: var(--text-grey);
  font-family: var(--alt-font);
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 14px;
}


/* WORKSHOP */
/* -------------------------------------------------------------------------- */

.workshop {
  margin-top: var(--speakers-top-offset);

  .event:nth-child(odd) & {
    margin-left: var(--speaker-image-spacing);
  }

  .event:nth-child(even) & {
    margin-right: var(--speaker-image-spacing);
  }
}

.workshop__figure {
  margin: 0;
  position: relative;
  z-index: -1;
  opacity: 0.85;
}

.workshop__info {
  margin-top: -1.5rem;
}

.workshop__name {
  font-size: var(--font-size-3);
  line-height: 1;
  display: block;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 20px rgba(31, 31, 31, 0.7);
}

.workshop__description {
  font-family: var(--alt-font);
  color: var(--text-grey);
  max-width: 500px;
  display: block;
}

.workshop__description a {
  font-family: var(--base-font);
  font-weight: bold;
  font-size: 1em;
}


/* FOOTER */
/* -------------------------------------------------------------------------- */

.footer {
  padding-bottom: 5%;
  position: relative;
}

.footer__title {
  margin-bottom: 10%;
}

.footer-link-list {
  margin-bottom: 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-link-list__item {
  font-size: var(--font-size-4);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.footer-link-list__icon {
  margin-right: 1rem;
}

.footer-link-list__item + .footer-link-list__item {
  margin: 0;
  margin-top: 1.5rem;
}

.sponsor-thanks {
  color: var(--text-grey);
  font-family: var(--alt-font);
  font-size: var(--font-size-5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sponsor-thanks__text {
  margin-right: 1rem;
  display: inline-block;
}

.thumbs-up {
  position: absolute;
  right: 75%;
  top: -10%;
  display: none;
}


/* EDITORIAL */
/* -------------------------------------------------------------------------- */

.editorial {
  line-height: 1.5em;
  font-weight: 500;
  max-width: 750px;
  font-size: var(--font-size-4);
  margin-bottom: 5rem;
}

.editorial p {
  font-family: var(--alt-font);
  color: var(--text-grey);
  line-height: 1.8;
}


/* PHOTOBOOK */
/* -------------------------------------------------------------------------- */


.photobook {
  margin-top: -8rem;
  margin-bottom: 6rem;
}

.photoframe {
  position: relative;
}

.photoframe:nth-child(1) {
  width: 40%;
  padding-bottom: 25%;
  margin-left: 60%;
}

.photoframe:nth-child(2) {
  width: 40%;
  padding-bottom: 35%;
  margin-left: 30%;
  margin-top: -6%;
}

.photoframe:nth-child(3) {
  width: 33%;
  padding-bottom: 25%;
  margin-left: -10%;
  margin-top: -15%;
}

.photoframe:nth-child(4) {
  width: 24%;
  padding-bottom: 34%;
  margin-left: 85%;
  margin-top: -18%;
}

.photoframe:nth-child(5) {
  width: 62%;
  padding-bottom: 35%;
  margin-left: 18%;
  margin-top: -10%;
}

.photoframe:nth-child(6) {
  width: 34%;
  padding-bottom: 22%;
  margin-top: -5%;
}

.photoframe:nth-child(7) {
  width: 45%;
  padding-bottom: 32%;
  margin-left: 45%;
  margin-top: -13%;
}

.photoframe:nth-child(8) {
  width: 30%;
  padding-bottom: 22%;
  margin-left: 75%;
  margin-top: -5%;
}

.photoframe:nth-child(9) {
  width: 38%;
  padding-bottom: 25%;
  margin-left: 15%;
  margin-top: -12%;
}

.photoframe__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

@media (min-width: 1000px) {
  :root {
    /* FONT SIZES */
    --font-size-1: 125px;
    --font-size-2: 75px;
    --font-size-3: 45px;
    --font-size-4: 24px;
    --font-size-5: 20px;

    /* SPACING */
    --speaker-image-spacing: 4rem;
    --speakers-top-offset: -6rem;
  }

  .header {
    padding-top: 18%;
    padding-right: 42%;
  }

  .peace {
    display: block;
  }

  .wrap {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .speaker {
    width: calc(50% - 4rem);
    float: left;
  }

  .event:nth-child(odd) .speaker:nth-child(even),
  .event:nth-child(odd) .speaker:nth-child(odd) {
    margin-right: 0;
    margin-left: var(--speaker-image-spacing);
  }

  .event:nth-child(even) .speaker:nth-child(odd),
  .event:nth-child(even) .speaker:nth-child(even) {
    margin: 0;
    margin-right: var(--speaker-image-spacing);
  }

  .event:nth-child(odd) .speaker:nth-child(even) {
    margin-top: -6rem;
  }

  .event:nth-child(even) .speaker:nth-child(odd) {
    margin-top: -6rem;
  }

  .footer {
    padding-left: 30%;
  }

  .footer-link-list {
    flex-direction: row;
  }

  .footer-link-list__item + .footer-link-list__item {
    margin: 0;
    margin-left: 3rem;
  }

  .thumbs-up {
    display: block;
  }
}
