<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Montréal Design Club</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Kevin Clark">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">

    <meta property="og:title" content="Montréal Design Club">
    <meta property="og:description" content="A monthly event series highlighting some of the best designers in Montréal.">
    <meta property="og:image" content="/assets/images/banner.png">
  </head>
  <body>
    <div class="container">
      <div class="wrap">
        {{ content }}
      </div>
    </div>
  </body>
</html>
